include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include CODE_OF_CONDUCT.md
include pyproject.toml
include .flake8
include setup.py
include setup.cfg

recursive-include requirements *.txt
recursive-include src *.py
recursive-include config *.yml
recursive-include docker Dockerfile.*
recursive-include docker *.yml
recursive-include scripts *.sh
recursive-include tests *.py

recursive-exclude * __pycache__
recursive-exclude * *.py[cod]
recursive-exclude * *.so
recursive-exclude * .DS_Store
recursive-exclude build *
recursive-exclude dist *
recursive-exclude *.egg-info * 